<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/adminMain.js"></script>

</head>
<body>
<h1 id="title"><%= title %></h1>
<br>
<button id="btn-start">Start Match</button>
<div style="display:block;text-align:left;">
    Players:
    <ul id="players" >
    </ul>
</div>
</body>
</html>
